.banner-home.animation {
    transform: scale(1);
}

.banner-home {
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-image: url("/static/app_core/assets/img/banner-home-desktop-2.webp");
    transform: scale(1.2);
    transition: transform ease 1s;
}

.banner-home .container-img {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.banner-home .container-img img {
    max-width: none;
}

.banner-home .container-img .name-title {
    color: #000;
    text-align: center;
    position: relative;
    font-size: 48px;
}

@media (max-width: 991.9px) {
    .banner-home .container-img .name-title {
        width: 90%;
        margin-bottom: 30px;
        font-size: 42px;
    }
}

@media (max-width: 767.9px) {
    .banner-home .container-img .name-title {
        width: 85%;
        font-size: 38px;
    }
}

@media (max-width: 576.9px) and (min-height: 900.9px) {
    .banner-home .container-img .name-title {
        width: 90%;
        font-size: 30px;
        margin-bottom: 75px;
    }
}

@media (max-width: 576.9px) and (max-height: 900px) {
    .banner-home .container-img .name-title {
        width: 90%;
        font-size: 30px;
        margin-bottom: 60px;
    }
}

@media (max-width: 576.9px) and (max-height: 800px) {
    .banner-home .container-img .name-title {
        width: 90%;
        font-size: 30px;
        margin-bottom: 40px;
    }
}

@media (max-width: 576.9px) and (max-height: 700px) {
    .banner-home .container-img .name-title {
        width: 90%;
        font-size: 30px;
        margin-bottom: 16px;
    }
}

@media (max-width: 576.9px) and (max-height: 600px) {
    .banner-home .container-img .name-title {
        width: 90%;
        font-size: 30px;
        margin-bottom: 10px;
    }
}

@media (min-width: 992px) {
    .banner-home .container-img .name-title {
        width: 800px;
        margin-bottom: 30px;
        font-size: 42px;
    }
}

@media (min-width: 1100px) {
    .banner-home .container-img .name-title {
        width: 1000px;
        margin-bottom: 30px;
        font-size: 44px;
    }
}

@media (min-width: 1400px) {
    .banner-home .container-img .name-title {
        width: 1300px;
        margin-bottom: 30px;
        font-size: 48px;
    }
}

@media (max-width: 575.9px) {
    .banner-home {
        background-image: url("/static/app_core/assets/img/banner-home-mobile-v2.webp");
    }
}

@media (min-width: 1100px) {
    .banner-home {
        background-image: url("/static/app_core/assets/img/banner-home-desktop.webp");
    }
}

@media (max-height: 900px) and (min-width: 576px) {
    .banner-home {
        height: 1000px;
    }
}