@media (min-width: 1200px) {
    h1 {
        font-size: 46px !important;
        line-height: 52px !important;
    }

    h2 {
        font-size: 36px !important;
        line-height: 42px !important;
    }

    h3 {
        font-size: 28px !important;
        line-height: 32px !important;
    }

    p{
        font-size: 18px !important;
        line-height: 30px !important;
    }
}

@media (max-width: 1199.9px) {
    h1 {
        font-size: 46px !important;
        line-height: 60px !important;
    }

    h2 {
        font-size: 40px !important;
        line-height: 42px !important;
    }

    h3 {
        font-size: 26px !important;
        line-height: 30px !important;
    }

    p{
        font-size: 18px !important;
        line-height: 30px !important;
    }
}

@media (max-width: 991.9px) {
    h1 {
        font-size: 42px !important;
        line-height: 56px !important;
    }

    h2 {
        font-size: 32px !important;
        line-height: 40px !important;
    }

    h3 {
        font-size: 24px !important;
        line-height: 28px !important;
    }
}

@media (max-width: 767.9px) {
    h1 {
        font-size: 38px !important;
        line-height: 46px !important;
    }

    h2 {
        font-size: 30px !important;
        line-height: 38px !important;
    }

    h3 {
        font-size: 24px !important;
        line-height: 28px !important;
    }
}

@media (max-width: 575.9px) {

    p,
    span {
        font-size: 16px !important;
        line-height: 24px !important;
    }

    h1,
    h1 span {
        font-size: 28px !important;
        line-height: 36px !important;
    }

    h2,
    h2 span {
        font-size: 24px !important;
        line-height: 32px !important;
    }

    h3,
    h3 span {
        font-size: 20px !important;
        line-height: 28px !important;
    }
}